*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
/* In your custom.css file */
.my-element:hover {
  background-color: #007bff; /* Example: Change background on hover */
  color: white; /* Example: Change text color on hover */
  transform: scale(1.05); /* Example: Add a slight zoom effect */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}